@charset 'UTF-8';

// Base
* { box-sizing: border-box; }

html,
body {
	background-color: #ec008c;
	background: linear-gradient(to right, #ec008c, #e52d27);
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 400;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}